*{ box-sizing: border-box; }

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c5364;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}

.card { 
    width: 90%;
    max-width: 850px;
    padding: 45px;
    border-radius: 30px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(20px);
    box-shadow: 10px 30px 60px rgba(0,0,0,0.4);
}

.title {
    border-radius: 10px;
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 10px;
    background: #003333;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    background: #fff;
    color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start-form input {
    text-align: center;
    padding: 14px 18px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    outline: none;
}

.btn {
    padding: 15px 40px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background: #00c3ff;
    color: #003333;
    box-shadow: 0 10px 25px rgba(0,255,204,0.4);
    transition: 0.3s;
}

.btn:hover { transform: scale(1.07); }

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transform: none;
}

.timer {
    position: absolute;
    top: 20px;
    right: 30px;
    background: rgba(255,255,255,0.15);
    padding: 12px 18px;
    border-radius: 12px;
    font-weight: bold;
    color: #ff6b6b;
}

.student-info {
    margin-bottom: 15px;
    font-size: 1rem;
    opacity: 0.9;
}

.question {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.options label {
    display: flex;
    gap: 12px;
    padding: 14px 18px;
    margin-bottom: 12px;
    border-radius: 14px;
    background: rgba(255,255,255,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.options label:hover {
    background: rgba(14, 140, 113, 0.2);
    transform: translateX(5px);
}

input[type="radio"] {
    transform: scale(1.3);
    accent-color: #4ab24a;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.score-display {
    font-size: 4rem;
    font-weight: bold;
    color: #79cf79;
    margin: 20px 0;
}